[simulation]
# size of the grid (gridsize^2 = number of speakers)
gridSize=40
# how innovation-friendly the agents are
# default: 0.5, for discreteProduction: 1.0
lambdaValue=0.2
# how many utterances each agent will remember
memorySize=20
# give the variant A some bias, e.g. 0.01
alphaBias=0.01
# how likely an agent is to "mishear" variant A as B 
errorRate=0
# length of utterance which agents exchange, in characters
utteranceLength=10
# choose whether agents produce discrete or continuous variants
discreteProduction=False
# amplitude of the wave at the origin
# a value of zero means that amplitude is ignored completely
waveAmplitude=0.0
# how many times the simulation loop will be run
runs=200
# save a snapshot image to disk every n-th step (number must be >= 1)
snapshotInterval=1
