body {
  background: white; 
  color:black;
}

body h2 {
	color:black;
}
body a {
	color:black;
}

#simCanvas {
  border: none;
}


#content {
	width:800px;
	margin: 5% auto;
}

#main {
	width:400px;
	float:left;
}

#sidebar {
	width:400px;
	float:right;
}

#controls {
	margin-bottom:2em;
	}

#data {
	color:gray;
	font-size:smaller;
}

.grayed {
	color:gray;
}
