body {
  background: white; 
  color:black;
}

body h2 {
	color:black;
}
body a {
	color:black;
}

#simCanvas {
  border: none;
}


#content {
	width:640px;
	margin: 10% auto;
}

#buttons {
	margin-bottom:2em;
	}
